
<div id="loginPage">
  <div id="loginForm">
    <h2 id="loginTitle">Login</h2>
    <form>
      <div id="userNameinput">
        <input [(ngModel)]="formData.email" type="text" placeholder="Email" id="userName" name="Benutzername" class="textInput"/>
      </div>
      <div id="passwordInput">
        <input [(ngModel)]="formData.password" type="password" placeholder="Passwort" id="password" name="Passwort" class="textInput passwordInput"/>
      </div>
      <p id="errorOutput"></p>
      <button id="login" (click)="login($event)" class="button">Login</button>
    </form>
    <div id="registrieren"><a id="toRegisterButton" routerLink="registrierung">Registrieren</a></div>
    <!--button#toRegisterButton.button Registrieren-->
  </div>
</div>