
<div id="registerPage">
  <div id="registerForm">
    <h2 id="registerTitle">Registrierung</h2>
    <form (ngSubmit)="register()" #registryForm="ngForm">
      <div id="userNameinput" ngModelGroup="name">
        <div [ngClass]="{'has-danger': firstName.invalid && (firstName.dirty || firstName.touched), 'has-success': firstName.valid && (firstName.dirty || firstName.touched) }" class="container">
          <input [(ngModel)]="model.firstName" type="text" placeholder="Vorname" id="registerFirstName" name="firstName" #firstName="ngModel" pattern="^[-'a-zA-ZÀ-ÖØ-öø-ſ]+$" required="required" class="textInput"/>
          <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched) " class="form-control-feedback">
            <div *ngIf="firstName.errors.required">Geben Sie bitte ihren Vornamen ein.</div>
            <div *ngIf="firstName.errors.pattern">Geben Sie bitte nur ihren Vornamen ohne Abstand oder Sonderzeichen ein.</div>
          </div><br/>
          <div [ngClass]="{'has-danger': secondName.invalid && (secondName.dirty || secondName.touched), 'has-success': secondName.valid && (secondName.dirty || secondName.touched) }" class="container">
            <input [(ngModel)]="model.secondName" type="text" placeholder="Nachname" id="registerLastName" #secondName="ngModel" name="secondName" pattern="^[-'a-zA-ZÀ-ÖØ-öø-ſ]+$" required="required" class="textInput"/>
            <div *ngIf="secondName.errors && (secondName.dirty || secondName.touched) " class="form-control-feedback">
              <div *ngIf="secondName.errors.required">Geben Sie bitte ihren Nachnamen ein.</div>
              <div *ngIf="secondName.errors.pattern">Geben Sie bitte ihren Nachnamen ohne Abstand oder Sonderzeichen ein.</div>
            </div>
          </div>
        </div>
      </div>
      <div id="emailInput" [ngClass]="{'has-danger': email.invalid && (email.dirty || email.touched), 'has-success': email.valid && (email.dirty || email.touched) }">
        <input [(ngModel)]="model.email" type="email" placeholder="Mail" id="email" name="email" #email="ngModel" required="required" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:.[a-zA-Z0-9-]+)*$" class="textInput"/>
        <div *ngIf="email.errors && (email.dirty || email.touched) " class="form-control-feedback">
          <div *ngIf="email.errors.required">Geben Sie bitte ihre Email-Adresse ein.</div>
          <div *ngIf="email.errors.pattern">Geben Sie bitte eine gültige Email-Adresse ein.</div>
        </div>
      </div>
      <div id="aboInput" [ngClass]="{'has-danger': abo.invalid && (abo.dirty || abo.touched), 'has-success': abo.valid && (abo.dirty || abo.touched) }">
        <input [(ngModel)]="model.abo" #abo="ngModel" type="text" placeholder="ÖV-Abonement" id="abo" name="abo" class="textInput"/>
      </div>
      <div id="passwordInput" ngModelGroup="userPassword" equalValidator="equalValidator" #userPassword="ngModelGroup">
        <div [ngClass]="{'has-danger': password.invalid && (password.dirty || password.touched), 'has-success': password.valid && (password.dirty || password.touched) }" class="container">
          <input [(ngModel)]="model.password" #password="ngModel" type="password" placeholder="Passwort" id="registerpassword" name="registerpassword" required="required" minlength="6" class="textInput passwordInput"/>
          <div *ngIf="password.errors && (password.dirty || password.touched) " class="form-control-feedback">
            <div *ngIf="password.errors.required">Geben Sie bitte ein Passwort ein.</div>
            <div *ngIf="password.errors.minlength">Geben Sie bitte ein Passwort ein, das mindestens 6 Zeichen lang ist.</div>
          </div>
        </div>
        <div [ngClass]="{'has-danger': repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched), 'has-success': repeatPassword.valid && (repeatPassword.dirty || repeatPassword.touched) }" class="container">
          <input [(ngModel)]="model.repeatPassword" #repeatPassword="ngModel" type="password" placeholder="Passwort wiederholen" id="repeatPassword" name="repeatPassword" minlength="6" required="required" class="textInput passwordInput"/>
          <p>{{repeatPassword.errors | json}}</p>
          <div *ngIf="repeatPassword.errors && (repeatPassword.dirty || repeatPassword.touched) " class="form-control-feedback">
            <div *ngIf="repeatPassword.errors.required">Geben Sie bitte ein Passwort ein.</div>
            <div *ngIf="repeatPassword.errors.minlength">Geben Sie bitte ein Passwort ein, das mindestens 6 Zeichen lang ist.</div>
          </div>
        </div>
      </div>
      <!--.form-control-feedback(*ngIf!="userPassword.errors && (userPassword.dirty || userPassword.touched) ")-->
      <pre>"{{ userPassword.errors | json }} sdsd"</pre>
      <div id="startEndDateInput" ngModelGroup="date">
        <div [ngClass]="{'has-danger': startDate.invalid && (startDate.dirty || startDate.touched), 'has-success': startDate.valid && (startDate.dirty || startDate.touched) }" class="container">
          <label for="startDate">Im Grünwerk von:</label>
          <input [(ngModel)]="model.startDate" #startDate="ngModel" type="date" id="startDate" name="start" required="required" class="dateInput"/>
        </div>
        <div [ngClass]="{'has-danger': endDate.invalid && (endDate.dirty || endDate.touched), 'has-success': endDate.valid && (endDate.dirty || endDate.touched) }" class="container">
          <label for="endDate">Im Grünwerk bis:</label>
          <input [(ngModel)]="model.endDate" #endDate="ngModel" type="date" id="endDate" name="end" required="required" class="dateInput"/>
        </div>
      </div>
      <pre>{{ registryForm.value | json }}</pre>
      <pre>{{registryForm.valid}}</pre>
      <!--p#errorOutput(*ngIf="error.present") {error.message}-->
      <p *ngIf="registryForm.invalid &amp;&amp; registryForm.submitted">Sie müssen das Formular korrekt ausfüllen, bevor sie es abschicken können.</p>
      <button id="register" [ngClass]="{'disabled': registryForm.invalid}" type="submit" class="button">Registrieren</button>
    </form>
    <div id="backButton"><a id="registerBackButton" routerLink="">Zurück zum Login</a></div>
  </div>
</div>