//output:registry.component.html
#registerPage
  #registerForm
      h2#registerTitle Registrierung
      form((ngSubmit)="register(registryForm)" #registryForm="ngForm" )
        #userNameinput
            input( type="text" placeholder="Vorname" class="textInput" id="registerPrename" name="prename" required)
            br
            input(type="text" placeholder="Nachname" class="textInput" id="registerSurname" name="surname" required)
        #emailInput
            input(type="email" placeholder="Mail" class="textInput" id="email" name="Email" required)
        #aboInput
            input(type="text" placeholder="ÖV-Abonement" class="textInput" id="abo" name="Abo" required)
        #passwordInput
            input( type="password" placeholder="Passwort" class="textInput passwordInput" id="registerPassword1" name="Passwort" required)
            input(type="password" placeholder="Passwort wiederholen" class="textInput passwordInput" id="registerPassword2" name="Passwort" required)
        #startEndDateInput
            label(for="startDate") Im Grünwerk von:
            input(type="date" class="dateInput" id="startDate" name="Anfangsdatum" required)
            label(for="endDate") Im Grünwerk bis:
            input( type="date" class="dateInput" id="endDate" name="Enddatum" required)
          
        //p#errorOutput(*ngIf="error.present") {error.message}
        button#register.button Registrieren
      
      #backButton
          a(id='registerBackButton', routerLink="") Zurück zum Login
