
<div id="registerPage">
  <div id="registerForm">
    <h2 id="registerTitle">Registrierung</h2>
    <div id="userNameinput">
      <label for="userName">Vor- und Nachname:</label><br/>
      <input type="text" placeholder="Max Mustermann/frau" id="registerUserName" name="Benutzername" class="textInput"/>
    </div>
    <div id="emailInput">
      <label for="email">Email:</label><br/>
      <input type="email" placeholder="max.muster@mustermail.ch" id="email" name="Email" class="textInput"/>
    </div>
    <div id="aboInput">
      <label for="abo">Abo:</label><br/>
      <input type="text" placeholder="ZVV / GA / Streckenabo?" id="abo" name="Abo" class="textInput"/>
    </div>
    <div id="passwordInput">
      <label for="password">Passwort:</label><br/>
      <input type="password" placeholder="Super sicheres Passwort" id="registerPassword" name="Passwort" class="textInput passwordInput"/>
    </div>
    <div id="startEndDateInput">
      <label for="startDate">Im Grünwerk von:</label>
      <input type="date" id="startDate" name="Anfangsdatum" class="dateInput"/>
      <label for="endDate">Im Grünwerk bis:</label>
      <input type="date" id="endDate" name="Enddatum" class="dateInput"/>
    </div>
    <p id="errorOutput"></p>
    <button id="register" (click)="register()" class="button">Registrieren</button>
    <div id="backButton"><a id="registerBackButton" routerLink="">Zurück zum Login</a></div>
  </div>
</div>