
<div id="registerPage">
  <div id="registerForm">
    <h2 id="registerTitle">Registrierung</h2>
    <form (ngSubmit)="register()" #registryForm="ngForm">
      <div id="userNameinput">
        <input type="text" placeholder="Vorname" id="registerPrename" name="prename" required="required" class="textInput"/><br/>
        <input type="text" placeholder="Nachname" id="registerSurname" name="surname" required="required" class="textInput"/>
      </div>
      <div id="emailInput">
        <input type="email" placeholder="Mail" id="email" name="Email" required="required" class="textInput"/>
      </div>
      <div id="aboInput">
        <input type="text" placeholder="ÖV-Abonement" id="abo" name="Abo" required="required" class="textInput"/>
      </div>
      <div id="passwordInput">
        <input type="password" placeholder="Passwort" id="registerPassword1" name="Passwort" required="required" class="textInput passwordInput"/>
        <input type="password" placeholder="Passwort wiederholen" id="registerPassword2" name="Passwort" required="required" class="textInput passwordInput"/>
      </div>
      <div id="startEndDateInput">
        <label for="startDate">Im Grünwerk von:</label>
        <input type="date" id="startDate" name="Anfangsdatum" required="required" class="dateInput"/>
        <label for="endDate">Im Grünwerk bis:</label>
        <input type="date" id="endDate" name="Enddatum" required="required" class="dateInput"/>
      </div>
      <!--p#errorOutput(*ngIf="error.present") {error.message}-->
      <button id="register" class="button">Registrieren</button>
    </form>
    <div id="backButton"><a id="registerBackButton" routerLink="">Zurück zum Login</a></div>
  </div>
</div>