
<div id="app">
  <header>
    <div id="rapportBlattTitel">
      <h4>Verrein Grünwerk</h4>
      <h3>Zivildienst</h3>
    </div>
    <button id="logOutButton" routerLink="logout" class="button">Abmelden</button>
  </header>
  <!-- This is the content area. The individual pages are loded in here-->
  <div id="page">
    <div id="content"><router-outlet></router-outlet>
      <!--object(type="text/html" data="pages/loginPage.html")-->
    </div>
  </div>
  <div id="footer">
    <div id="info">
      <div id="madeBy">
        <p><a href="http://broggoli.ch">Webdesign & copyright by Nick Bachmann</a></p>
      </div>
    </div>
  </div>
</div>