//output:app.component.html
#app
  header
    #rapportBlattTitel
      h4 Verrein Grünwerk
      h3 Zivildienst
    button#logOutButton.button( *ngIf="logedIn" routerLink="logout") Abmelden

  //- #gruenWerkLogo
  //-   img(src="../assets/logo_blau.jpg")
  nav#navigation(*ngIf="logedIn")
    div([ngClass]="{'active': isActive('rapportblatt')}" routerLink="rapportblatt") 
      a Rapportblatt
    div([ngClass]="{'active': isActive('settings')}" routerLink="settings") 
      a Einstellungen
  // This is the content area. The individual pages are loded in here
  #page
    #content      
      <router-outlet (activate)="onRoutesChanged()"></router-outlet>
      //object(type="text/html" data="pages/loginPage.html")
          
  #footer
    div#info
        div#madeBy
          p
            a(href="http://broggoli.ch") Webdesign & copyright by Nick Bachmann
