
<div id="rapportBlattPage">
  <div id="rapportBlatt">
    <div id="rapportBlattHeader">
      <div id="rapportBlattInfo">
        <div id="dateInput">
          <label for="rapportBlattMonth">Monat:</label>
          <input (change)="monthChanged($event.target.value)" 
                  value="{{monthString}}"
                  type="month" 
                  id="rapportBlattMonth" 
                  name="Monat" 
                  class="dateInput"/>
        </div>
        <div id="unchangableInfo">
          <p>Heute:<span id="today"> {{today}}</span></p>
          <p><span id="ziviName">{{ziviData.name.firstName}} {{ziviData.name.lastName}}</span></p>
        </div>
      </div>
    </div>
    <div id="table" *ngIf="!loading">
      <div *ngFor="let row of rows; let idx = index" class="rapportBlattRow rowIndex{{idx}}">
        <div class="inputs">
          <div class="dayName">{{row.dayName}}</div>
          <div class="date">{{row.date}}</div>
          <select [(ngModel)]="row.dayType" class="dayTypeChooser dayType">
            <option value="Arbeitstag">Arbeitstag</option>
            <option value="Frei">Frei</option>
            <option value="Krank">Krank</option>
            <option value="Ferien">Ferien</option>
            <option value="Urlaub">Urlaub</option>
          </select>
          <div *ngIf="row.dayType === 'Arbeitstag'" class="workDayInputs"
               class="input-with-dropdown">

            <input (focus)="toggleDropDown($event)"
                    (blur)="disableDropDown($event)"
                    [(ngModel)]="row.workPlace"
                    type="text"
                    placeholder="Arbeitsort"
                    name="Arbeitsort"
                    class="textInput workPlace"/>

            <div class="workPlaceDropdown autoCompleteDropdown invisible"
                  *ngIf="(workPlaceOptions(idx) | filterStrings:row.workPlace).length > 0">
              <div (click)="row.workPlace = opt"
                    *ngFor="let opt of workPlaceOptions(idx) | filterStrings:row.workPlace"
                    class="autoCompleteOpt">

                    {{ opt }}
              </div>
            </div>
          </div>
          <div *ngIf="row.dayType === 'Arbeitstag'" class="spesenInputs">
            <label class="switch">
              <span [ngClass]="{'checked': row.spesenChecked}" class="knob round checked"></span>
              <input [(ngModel)]="row.spesenChecked" type="checkbox" class="spesenCheckbox"/>
            </label>
            <div *ngIf="!row.spesenChecked && row.dayType == 'Arbeitstag'" class="spesenText">Sind Fahrspesen angefallen?</div>
          </div>

          <div *ngIf="row.spesenChecked && row.dayType == 'Arbeitstag'" class="route">
            <div class="input-with-dropdown">
              <input [(ngModel)]="row.route.start" 
                      (focus)="toggleDropDown($event)"
                      (blur)="disableDropDown($event)"
                      type="text" 
                      placeholder="Abfahrtsort" 
                      name="routeStart" 
                      class="textInput routeInput"/>
              <div class="routeStartDropdown autoCompleteDropdown invisible"
                    *ngIf="(routeStartOptions(idx) | filterStrings:row.route.start).length > 0">
                <div (click)="row.route.start = opt"
                      *ngFor="let opt of routeStartOptions(idx) | filterStrings:row.route.start"
                      class="autoCompleteOpt">

                  {{ opt }}
                </div>
              </div>
            </div>

            <span>-</span>

            <div class="input-with-dropdown">
              <input [(ngModel)]="row.route.destination" 
                      (focus)="toggleDropDown($event)"
                      (blur)="disableDropDown($event)"
                      type="text" 
                      placeholder="Ziel" 
                      name="destination" 
                      class="textInput routeInput"/>
              <div class="destinationDropdown autoCompleteDropdown invisible"
                    *ngIf="(destinationOptions(idx) | filterStrings:row.route.destination).length > 0">
                <div (click)="row.route.destination = opt"
                      *ngFor="let opt of destinationOptions(idx) | filterStrings:row.route.destination"
                      class="autoCompleteOpt">
    
                  {{ opt }}
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="row.spesenChecked && row.dayType == 'Arbeitstag'" 
                class="input-with-dropdown">
            <input [(ngModel)]="row.price"
                    (focus)="toggleDropDown($event)"
                    (blur)="disableDropDown($event)"
                    type="number" 
                    min="0.00"
                    max="5000.00" step="0.05" 
                    placeholder="Preis" 
                    name="price" 
                    class="textInput price"/>
            <div class="priceDropdown autoCompleteDropdown invisible"
                  *ngIf="(priceOptions(idx) | filterStrings:row.price).length > 0">
              <div *ngFor="let opt of priceOptions(idx) | filterStrings:row.price"
                    (click)="row.price = opt"
                    class="autoCompleteOpt">
                {{ opt }}
              </div>
            </div>
          </div>
          <div *ngIf="row.spesenChecked && row.dayType == 'Arbeitstag'" class="uploadTicketProof">
            <div><span>Billet Belege hochladen:</span></div>
            <div>
              <label for="{{ row.date }}_upload" class="ticketProofLabel">
                <img src="../../assets/svg/upload.svg" class="uploadIcon"/>
              </label>
              <input (change)="onFileSelected($event, idx)" 
                      id="{{ row.date }}_upload" 
                      type="file" 
                      multiple="true" 
                      class="ticketProof"/>
            </div>
            <div class="ticketProofImagesContainer">
                <img *ngFor="let dataUrl of row.ticketProof; let imageIndex = index"
                      (click)="deleteImage(idx, imageIndex)"
                      src="{{ dataUrl }}"
                      class="imagePreview"/>
            </div>
          </div>
          <div *ngIf="row.dayType == 'Krank'" class="uploadMCContainer">
            <div><span>Ärztliches Zeugnis hochladen:</span></div>
            <div>
              <label class="MCLabel">
                <img src="../../assets/svg/upload.svg" class="uploadIcon"/>
                <input (change)="onMCSelected($event, idx)" 
                      id="MCUpload" 
                      type="file" 
                      multiple="true" 
                      class="MCUpload"/>
              
              </label>
            </div>
            
            <div class="MCImagesContainer">
                <img *ngFor="let dataUrl of row.medicalCertificate; let imageIndex = index"
                      (click)="deleteMCImage(idx, imageIndex)"
                      src="{{ dataUrl }}"
                      class="imagePreview"/>
            </div>
          </div>
        </div>
        
        <div class="errorMessage"
          *ngIf="rowErrorMessages[idx] !== undefined && rowErrorMessages[idx] !== ''">
          {{ rowErrorMessages[idx] }}
        </div>
      </div>
    </div>
    <div id="loading" *ngIf="loading">
      <p>lade...</p>
    </div>
    <div id="NoDays" *ngIf="rows.length === 0 && !loading">
      <p>Du hast in diesem Monat nicht gearbeitet</p>
    </div>
    <div id="rapportBlattSummary" *ngIf="rows.length > 0 && !loading">
      <h3>Zusammenfassung</h3>
      <div id="dayChart" class="barchart">
        <div class="chart">
          <ng-container *ngFor="let dayType of daySummary(true)">
            <ng-container *ngIf="dayType[1] != '0'">
              <div [ngStyle]="{width: getPercentage(dayType[1], rows.length)}" class="dayType">
                <div class="{{dayType[0]}}C"><span>{{dayType[1]}}</span></div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="legendeDiv">
          <h4>Legende</h4>
          <ng-container *ngFor="let dayType of daySummary()">
            <div *ngIf="dayType[1] > 0" class="legende">
              <label>{{ dayTypeNames[dayType[0]] }}</label>
              <label>:</label>
              <div class="colorBlock {{ dayType[0] }}C"></div>
            </div>
          </ng-container>
        </div>
        <div id="totalSummary">
          <h4>Entschädigung</h4>
          <p id="totalDayCompensation">Total Entschädigung           : {{ summary.compensation }}</p>
          <p id="totalFahrspesenCompensation">Total Fahrspesen       : {{ summary.spesenPreis }}</p>
          <p id="totalShoeCompensation">Total Entschädigung Schuhwerk: {{ summary.shoes }}</p>
        </div>
      </div>
      <div id="total">
        <h3 id="totalPay">Total zur Auszahlung: {{ summary.total}}</h3>
      </div>
    </div>
    <div style="display: none" class="loadingAnim svgAnim"><img src="../../assets/svg/loader.svg"/></div>
    <div style="display: none" class="inputsChecked svgAnim"><img src="../../assets/svg/check.svg"/></div>
    <div style="display: none" class="errorIcon svgAnim"><img src="../../assets/svg/error.svg"/></div>
    <div id="actionButtons" *ngIf="rows.length > 0">
      <div  class="sendMeTooDiv" >
          Kopie an mich senden:
          <label class="switch sendMeTooCheckBox"> 
            <span [ngClass]="{'checked': sendMeToo}" class="knob round checked"></span>
            <input [(ngModel)]="sendMeToo" type="checkbox" class="sendMeToo"/>
          </label>
      </div>
      <button id="syncButton" title="Lädt die gespeicherte Online-Version herunter" (click)="downloadRb($event)" class="button rb-button">
        <img src="../../assets/svg/sync.svg" class="icon"/>
      </button>
  
      <button id="saveutton" title="Speichert das Rapportblatt" (click)="onSaveFileBttnClick()" class="button rb-button">
        <img src="../../assets/svg/save.svg" class="icon"/>
        <span>Speichern</span>
      </button>
      <button id="sendButton" title="Sende das Rapportblatt" (click)="send()" class="button rb-button">
        <img src="../../assets/svg/send.svg" class="icon"/>
        <span>Absenden</span>
      </button>
      
    </div>
  </div>
  <div class="rbSize">
    <span>Rapportblattgrösse: ~{{ getMb(rows) }}MB</span>
  </div>
</div>
<div id="slideShow"
    *ngIf="slideShowIsOpen">
  <img id="currentSlideshowImage"
      [src]="currentSlideshowImage"
      alt="Loading..."
      onerror="this.src='../../assets/svg/loader.svg'"/>
</div>