
<div id="rapportBlattPage">
  <div id="rapportBlatt">
    <div id="rapportBlattHeader">
      <div id="rapportBlattInfo">
        <div id="DateInput">
          <label for="rapportBlattMonth">Monat: </label>
          <input [(ngModel)]="monthString" type="month" id="rapportBlattMonth" name="Monat" class="dateInput"/>
        </div>
        <div id="unchangableInfo">
          <p>Heute:<span id="today"> {{today}}</span></p>
          <p><span id="ziviName">{{ziviData.name.prename}} {{ziviData.name.surname}}</span></p>
        </div>
      </div>
    </div>
    <div id="table">
      <div *ngFor="let row of rows" class="rapportBlattRow">
        <div class="dayName">{{row.dayName}}</div>
        <div class="date">{{row.date}}</div>
        <select [(ngModel)]="row.dayType" class="dayTypeChooser dayType">
          <option value="Arbeitstag">Arbeitstag</option>
          <option value="Frei">Frei</option>
          <option value="Krank">Krank</option>
          <option value="Ferien">Ferien</option>
          <option value="Urlaub">Urlaub</option>
        </select>
        <div *ngIf="row.dayType == 'Arbeitstag'" class="workDayInputs">
          <input [(ngModel)]="row.workPlace" type="text" placeholder="Arbeitsort" name="Arbeitsort" class="textInput workPlace"/>
        </div>
        <div *ngIf="row.dayType == 'Arbeitstag'" class="spesenInputs">
          <label class="switch"><span [ngClass]="{'checked':row.spesenChecked}" class="knob round checked"></span>
            <input [(ngModel)]="row.spesenChecked" type="checkbox" class="spesenCheckbox"/>
          </label>
          <div *ngIf="!row.spesenChecked &amp;&amp; row.dayType == 'Arbeitstag'" class="spesenText">Sind Fahrspesen angefallen?</div>
        </div>
        <!--div.fahrspesenDiv-->
        <div *ngIf="row.spesenChecked" class="route">
          <input [(ngModel)]="row.route.start" type="text" placeholder="Abfahrtsort" name="Abfahrtsort" class="textInput routeInput"/><span>-</span>
          <input [(ngModel)]="row.route.destination" type="text" placeholder="Ziel" name="destination" class="textInput routeInput"/>
        </div>
        <div *ngIf="row.spesenChecked" style="margin:0; padding: 0;">
          <input [(ngModel)]="row.price" type="number" min="0.00" max="100.00" step="0.05" placeholder="Preis" name="Preis" class="textInput price"/>
        </div>
        <div *ngIf="row.spesenChecked" class="uploadTicketProof">
          <label for="ticketProof" class="ticketProofLabel"> <img src="../../assets/svg/upload.svg" class="uploadIcon"/><span>Billet Belege hochladen</span></label>
          <input [(ngModel)]="row.tickets" id="ticketProof" type="file" accept="image/*" capture="camera" multiple="true" class="ticketProof"/>
        </div>
      </div>
    </div>
    <div id="rapportBlattSummary">
      <h3>Zusammenfassung</h3>
      <div id="dayChart" class="barchart">
        <div class="chart">
          <ng-container *ngFor="let dayType of daySummary(rows, true)">
            <ng-container *ngIf="dayType[1] != '0'">
              <div [ngStyle]="{width: getPercentage(dayType[1], this.rows.length)}" class="dayType">
                <div class="{{dayType[0]}}C"><span>{{dayType[1]}}</span></div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="legendeDiv">
          <h4>Legende</h4>
          <ng-container *ngFor="let dayType of daySummary(rows)">
            <div class="legende">
              <label>{{dayType[0]}}</label>
              <label>: </label>
              <div class="colorBlock {{dayType[0]}}C"></div>
            </div>
          </ng-container>
        </div>
        <div id="totalSummary">
          <h4>Entschädigung</h4>
          <p id="totalDayCompensation">Total Entschädigung           : {{ summary.total }}</p>
          <p id="totalFahrspesenCompensation">Total Fahrspesen       : {{ summary.spesenPreis }}</p>
          <p id="totalShoeCompensation">Total Entschädigung Schuhwerk: {{ summary.shoes }}</p>
        </div>
      </div>
      <div id="total">
        <h3 id="totalPay">Total zur Auszahlung: {{ summary.shoes + summary.spesenPreis + summary.total}}</h3>
      </div>
    </div>
    <button id="sendButton" (click)="send()" class="button">Absenden</button>
  </div>
</div>