//output:./rapportblatt.component.html
#rapportBlattPage
  #rapportBlatt
      #rapportBlattHeader
          #rapportBlattInfo
              #DateInput
                  label(for="rapportBlattMonth") Monat: 
                  input([(ngModel)]="monthString" type="month"  id="rapportBlattMonth" class="dateInput" name="Monat" )
              #unchangableInfo
                  p Heute:
                      span#today {{today}}
                      br
                      span#ziviName {{ziviName}}

                  
        #table
          .rapportBlattRow(*ngFor="let row of rows")
            .dayName {{row.dayName}}
            .date {{row.date}}
            select([(ngModel)]="row.dayType" class='dayTypeChooser' class='dayType')
              option(value='Arbeitstag') Arbeitstag
              option(value='Frei') Frei
              option(value='Krank') Krank
              option(value='Ferien') Ferien
              option(value='Urlaub') Urlaub
              
            div.workDayInputs(*ngIf="row.dayType == 'Arbeitstag'")
              input([(ngModel)]="row.workPlace" type='text' placeholder='Arbeitsort' name='Arbeitsort' class='textInput workPlace')
            div.spesenInputs(*ngIf="row.dayType == 'Arbeitstag'")
              label.switch
                  span([ngClass]="{'checked':row.spesenChecked}" class="knob round checked" )
                  input( [(ngModel)]="row.spesenChecked" type='checkbox' class='spesenCheckbox')
              .spesenText(*ngIf="!row.spesenChecked && row.dayType == 'Arbeitstag'") Sind Fahrspesen angefallen?

            //div.fahrspesenDiv
            div.route(*ngIf="row.spesenChecked")
              input([(ngModel)]="row.route.start" type='text' placeholder='Abfahrtsort' name='Abfahrtsort' class='textInput routeInput') 
              span -
              input([(ngModel)]="row.route.destination" type='text' placeholder='Ziel' name='destination' class='textInput routeInput')
            div(*ngIf="row.spesenChecked" style="margin:0; padding: 0;")
              input([(ngModel)]="row.price" type='number' min='0.00' max='100.00' step='0.05' placeholder='Preis' name='Preis' class='textInput price')
            .uploadTicketProof(*ngIf="row.spesenChecked")
              label(class="ticketProofLabel" for="ticketProof") 
                  img(src="../../assets/svg/upload.svg" class="uploadIcon")
                  span Billet Belege hochladen
                input([(ngModel)]="row.tickets" class="ticketProof" id="ticketProof" type="file" accept="image/*" capture="camera" multiple="true")
      #rapportBlattSummary
        h3 Zusammenfassung
        #dayChart.barchart
          .chart
            ng-container(*ngFor="let dayType of daySummary(rows, true)")
              ng-container(*ngIf="dayType[1] != '0'")
                .dayType([ngStyle]="{width: getPercentage(dayType[1], this.rows.length)}")
                  div(class="{{dayType[0]}}C" )
                    span {{dayType[1]}}
                
                    
          .legendeDiv
            h4 Legende
            ng-container(*ngFor="let dayType of daySummary(rows)")
              .legende
                label {{dayType[0]}}
                label : 
                .colorBlock(class="{{dayType[0]}}C" )
        
          #totalSummary
            h4 Entschädigung
            p#totalDayCompensation Total Entschädigung           : {{ summary.total }}
            p#totalFahrspesenCompensation Total Fahrspesen       : {{ summary.spesenPreis }}
            p#totalShoeCompensation Total Entschädigung Schuhwerk: {{ summary.shoes }}
        #total
            h3#totalPay Total zur Auszahlung: {{ summary.shoes + summary.spesenPreis + summary.total}}

      button#sendButton.button((click)="send()") Absenden
