//utilities
@import "../sass/colors.sass"
@import "../sass/components/button.sass"
@import "../sass/inputs.sass"
//component styling
@import "../sass/components/switch.sass"

#rapportBlattPage
    max-width: 95vw
    margin-top: 1em
    margin-bottom: 1em
    margin-left: auto
    margin-right: auto

    #rapportBlatt

        max-width: 100%

        white-space: nowrap

        div
            background-color: $backgroundColor
            padding: 0.5em
        #rapportBlattHeader
            align-content: center

            #rapportBlattInfo
              display: flex
              flex-direction: row
              justify-content: space-between

              #rapportBlattMonth
                width: 9em

              #unchangableInfo
                  text-align: right


        #table
            padding: 0
            .rapportBlattRow
                display: flex
                justify-content: flex-start

                align-items: center
                border-bottom: solid $black
                flex-wrap: wrap
                justify-content: left

                *
                    margin: 2px 5px

                .dayName
                    width: 1em
                .date
                    width: 3em
                .dayTypeChooser
                    width: 7em
                    height: 2em
                .spesenInputs
                  margin: 0
                  padding: 0
                  display: flex
                  flex-wrap: wrap
                  justify-content: center
                  align-items: center
                .workDayInputs
                  display: flex
                  padding: 0
                  margin-left: 0
                .fahrspesenDiv
                  display: flex
                .route
                  margin: 0
                  padding: 0
                  display: flex
                  flex-wrap: wrap
                  align-items: center

                .uploadTicketProof
                    .imagePreview
                        height: 1.5em
                        right: 0.5em
                        transition: 200ms
                    .image-icon-svg
                        fill: #1ebce3
                    .imagePreview:hover
                        transform: scale(1.1)
                    .ticketProof
                        display: none
                    .uploadIcon
                        height: 1em
                        position: relative
                        top: 2px
                        margin-right: 0.5em
                    .ticketProofLabel
                        background: $darkblue
                        box-sizing: border-box
                        padding: 0.3em 1em
                        cursor: pointer
                        transition: 200ms
                    .ticketProofLabel:hover
                        background: $darkblue

        #rapportBlattSummary
          .barchart
            @media (min-width:550px)
              display: grid
              grid-template: auto auto / auto auto

            .chart
              grid-area: 1 / 1 / auto / span 3
              display: flex
              width: 100%
              padding: 0
              //TO change the layout change to -> row
              flex-direction: column


            .krankTageC
              background: #546D6A
            .freiTageC
              background: #81A4EF
            .ferienTageC
              background: #319CAF
            .urlaubstageC
              background: #F2E67B
            .arbeitsTageC
              background: #ED5E5E

            .dayType
              margin: 0
              padding: 0
              justify-content: center
              color: $backgroundColor
              min-width: 1.5em
              text-align: center
              transition: width 10000ms ease-in-out

          .legende
            align-self: center
            display: grid
            grid-template-columns: 7em 1em auto
            grid-gap: 0.1em
            .colorBlock
              display: inline-block
              width: 0.5em
              height: 0.5em
          #daySummary
              // display: grid
              // grid-template-columns: auto auto
              // grid-template-rows: auto auto auto
        #sendButton
          width: 100%
          @media (min-width:550px)
            width: auto
