//main: main.sass

header
    box-shadow: $grey 0px 0.2em 1em
    align-content: center
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 1em

    .button.loggedOut
        display: none

    h1.headerText

        color: $black
        margin-left: 1em
        font-family: arial
