// compileCompressed: ../app.component.css

//utilities
@import "colors.sass"
@import "inputs.sass"

@import "header.sass"
@import "footer.sass"

@import "components/button.sass"

*
    margin: 0
    padding: 0
    font-family: arial

#app
    background: $backgroundColor
    display: flex
    flex-direction: column
    //grid-template-rows: minmax(12vh, 18vh) 4vh minmax(82vh, auto) 6vh
    width: 98.8vw
    overflow: hidden


    // #gruenWerkLogo
    //     position: fixed
    //     top: 15%
    //     right: 0
    //     box-shadow: rgba(0, 0, 0, 0.3) 0 0.2em 1em
    #page
        min-height: 85vh
        #content
            padding: 0 2px

            margin-top: 0.5em
            margin-bottom: 2em

            color: $black

            transition: 200ms cubic-bezier(0.35, 0.38, 0.2, 1)

    #navigation
        display: flex
        flex-direction: row
        justify-content: space-around
        padding: 0
        min-height: 2em

        div
            width: 100%
            box-sizing: content-box
            color: $black
            display: flex
            text-align: center
            justify-content: center
            align-content: center
            transition: 200ms ease-in-out
            background: lighten( $grey, 35%)
            z-index: 0

            a
                text-decoration: none
                text-emphasis: weigh
                margin-left: auto
                margin-right: auto
                align-self: center
        div.active
            z-index: 1
            background: $darkblue
            color: $white
            transform: scale(1.1)
